* {
  font-family: Helvetica;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  height: 100vh;
  background-color: #f6f9fc;
}

.gameboard {
  height: 100vh;
  width: 100vh;
  border-radius: 50%;
  margin: 0 auto;
  overflow: hidden;
  max-height: 60vh;
  max-width: 60vh;
  cursor: pointer;
}

.color {
  width: 50%;
  height: 50%;
  display: inline-block;
}

.left {
  float: left;
}

.right {
  float: left;
}

.verde {
  background: #6eb998;
  transition: 0.4s;
}

.verde.light {
  background: #91d3b699;
}

.rojo {
  background: #d43846;
  transition: 0.4s;
}

.rojo.light {
  background: #e7646f99;
}

.amarillo {
  background: #f4d201;
  transition: 0.4s;
}

.amarillo.light {
  background: #f1e59699;
}

.azul {
  background: #47bcee;
  transition: 0.4s;
}

.azul.light {
  background: #47bcee99;
}

.btn-start {
  width: 400px;
  height: 100px;
  background: white;
  font-size: 2.5rem;
  font-weight: bold;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 200px);
  border: none;
  border-radius: 80px;
  outline: none;
  transition: 0.4s;
  cursor: pointer;
}

.hide {
  display: none;
}

.btn-start:hover {
  transform: scale(1.07);
}
